// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

// Ipsum Tags
.item{color:#48453d; overflow:hidden;}
.block-title{color: #48453d; margin-bottom:0px; font-size:18px; margin-top: 0px; font-weight:700; text-transform:uppercase;}
.item-content-block{padding:0 10px 10px 10px; background-color:#FFF; display:block;}
.tags a{background-color:#756f5d; padding:10px; color:#fff; display:inline-block; font-size:11px; text-transform:uppercase; line-height:11px; border-radius:2px; margin-bottom:5px; margin-right:2px; text-decoration:none;}
.tags a:hover{background-color:#a38018;}

.vresize {
  resize: vertical;
}

.show-nav{
  padding-top: 25px;
}

.custom-top{
  margin: 15px 0 15px 0;
}



// SLIDER

.letter-slider {
  border-bottom: 4px solid #000;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.15);
  padding-bottom: 0.25em;
  margin: 1em auto;
  position: relative;
  width: 20em;
}
.letter-slider::after{
  content: '';
  display: table; width: 100%; clear: both;
}
.letter-slider input[type="radio"] {
  display: none;
}
.letter-slider label {
  color: #f39c12;
  float: left;
  width: 16.6666666667%;
  text-align: center;
  cursor: pointer;
  transition: color .5s;
}
.letter-slider label:hover {
  text-decoration: underline;
}
.letter-slider input:checked + label {
  color: #c0392b;
}
.letter-slider label:last-of-type::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 0.6em solid transparent;
  border-top-width: 0;
  border-bottom-color: #1CA2FF;
  position: absolute;
  bottom: -5px;
  left: 0;
  margin-left: -0.6em;
  transition: left 0.5s;
}
.letter-slider input:checked:nth-of-type(1) ~ label:last-of-type::after {
  left: 8.333333333333332%;
}
.letter-slider input:checked:nth-of-type(2) ~ label:last-of-type::after {
  left: 25%;
}
.letter-slider input:checked:nth-of-type(3) ~ label:last-of-type::after {
  left: 41.66666666666667%;
}
.letter-slider input:checked:nth-of-type(4) ~ label:last-of-type::after {
  left: 58.333333333333336%;
}
.letter-slider input:checked:nth-of-type(5) ~ label:last-of-type::after {
  left: 75%;
}
.letter-slider input:checked:nth-of-type(6) ~ label:last-of-type::after {
  left: 91.66666666666666%;
}

#hiddenp {
  display:none;
}

.theme-banner{
  overflow: hidden;
  height: 333px;
  margin-bottom: 25px;
}

.theme-image{
  width: 100%;
}

.paragraph1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.ipsumtext {
  min-height: 366px;
}

// CUSTOM TAGS FOR KEYWORDS
.label-purple {
  background: #9b59b6;
}

.label-carrot {
  background: #e67e22;
}

.label-sea {
  background: #16a085;
}

.themename {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 6px 6px rgba(0,0,0,0.2),
                0px -5px 35px rgba(255,255,255,0.3);
}
.themeuser {
  font-family: 'Fjalla One', sans-serif;
}


.gravatar.img-circle{
  border-width: 3px;
  border-color: black;
  border-style: solid;
}



.box {
  width:150px;
  height:150px;
  background:#bcc;
  position: absolute;
  text-align: center;
  padding: 12px 0;
  left: 50px;
  -webkit-transition: all 0.5s ease;
}
.box:after {
  content:'';
  position: absolute;
  bottom:0;
  left:0;
  border-top:75px solid #bcc;
  border-right:75px solid #fff;
}
.box:before {
  content:'';
  position: absolute;
  bottom:0;
  right:0;
  border-top:75px solid #bcc;
  border-left:75px solid #fff;
}
.box:hover {
  height: 350px;
}
.box span {
  font-weight: bold;
  text-shadow:1px 1px 1px #fff;
}

.btn-outline {
  border-width: 6px;
  border-style: solid;
  border-color: #CEB58C;
  margin: 0;
}

.btn-outline:hover {
   border-color: #FACC0A;
}

// NAVBAR
.navbar-inverse {
  background-color: #625F56;
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
}

.navbar-nav > li > a {
  font-weight: 400;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5em;
}

// Index panels
.panel-default {
    border-color: #A38654;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    height: 135px;
    border-top: 1px solid #A38654;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
}

.panel-body {
    background: #FACC0A;
    height: 50px;
    padding-top: 6px;
}

.links {
    position: absolute;
    bottom: 5px;
}

.panel-footer:hover{
  background: #EFECEC;
}


.custom-thumb {
  width: 300px;
  padding: 3px;
}
