// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

// Ipsum Tags
.item{color:#48453d; overflow:hidden;}
.block-title{color: #48453d; margin-bottom:0px; font-size:18px; margin-top: 0px; font-weight:700; text-transform:uppercase;}
.item-content-block{padding:0 10px 10px 10px; background-color:#FFF; display:block;}
.tags a{background-color:#756f5d; padding:10px; color:#fff; display:inline-block; font-size:11px; text-transform:uppercase; line-height:11px; border-radius:2px; margin-bottom:5px; margin-right:2px; text-decoration:none;}
.tags a:hover{background-color:#a38018;}

.vresize {
  resize: vertical;
}

.show-nav{
  padding-top: 25px;
}

.custom-top{
  margin: 15px 0 15px 0;
}



// SLIDER

.letter-slider {
  border-bottom: 4px solid #000;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.15);
  padding-bottom: 0.25em;
  margin: 1em auto;
  position: relative;
  width: 20em;
}
.letter-slider::after{
  content: '';
  display: table; width: 100%; clear: both;
}
.letter-slider input[type="radio"] {
  display: none;
}
.letter-slider label {
  color: #f39c12;
  float: left;
  width: 16.6666666667%;
  text-align: center;
  cursor: pointer;
  transition: color .5s;
}
.letter-slider label:hover {
  text-decoration: underline;
}
.letter-slider input:checked + label {
  color: #c0392b;
}
.letter-slider label:last-of-type::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 0.6em solid transparent;
  border-top-width: 0;
  border-bottom-color: #1CA2FF;
  position: absolute;
  bottom: -5px;
  left: 0;
  margin-left: -0.6em;
  transition: left 0.5s;
}
.letter-slider input:checked:nth-of-type(1) ~ label:last-of-type::after {
  left: 8.333333333333332%;
}
.letter-slider input:checked:nth-of-type(2) ~ label:last-of-type::after {
  left: 25%;
}
.letter-slider input:checked:nth-of-type(3) ~ label:last-of-type::after {
  left: 41.66666666666667%;
}
.letter-slider input:checked:nth-of-type(4) ~ label:last-of-type::after {
  left: 58.333333333333336%;
}
.letter-slider input:checked:nth-of-type(5) ~ label:last-of-type::after {
  left: 75%;
}
.letter-slider input:checked:nth-of-type(6) ~ label:last-of-type::after {
  left: 91.66666666666666%;
}

#hiddenp {
  display:none;
}

.theme-banner{
  overflow: hidden;
  height: 333px;
  margin-bottom: 25px;
}

.theme-image{
  width: 100%;
}

.paragraph1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.ipsumtext {
  min-height: 366px;
}

// CUSTOM TAGS FOR KEYWORDS
.label-purple {
  background: #9b59b6;
}

.label-carrot {
  background: #e67e22;
}

.label-sea {
  background: #16a085;
}

.themename {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 6px 6px rgba(0,0,0,0.2),
                0px -5px 35px rgba(255,255,255,0.3);
}
.themeuser {
  font-family: 'Fjalla One', sans-serif;
}

.gravatar.img-circle{
  border-width: 3px;
  border-color: black;
  border-style: solid;
}

.custom-thumb {
  width: 300px;
  padding: 3px;
}

.box {
  width:150px;
  height:150px;
  background:#bcc;
  position: absolute;
  text-align: center;
  padding: 12px 0;
  left: 50px;
  -webkit-transition: all 0.5s ease;
}
.box:after {
  content:'';
  position: absolute;
  bottom:0;
  left:0;
  border-top:75px solid #bcc;
  border-right:75px solid #fff;
}
.box:before {
  content:'';
  position: absolute;
  bottom:0;
  right:0;
  border-top:75px solid #bcc;
  border-left:75px solid #fff;
}
.box:hover {
  height: 350px;
}
.box span {
  font-weight: bold;
  text-shadow:1px 1px 1px #fff;
}

.btn-outline {
  border-width: 6px;
  border-style: solid;
  border-color: #CEB58C;
  margin: 0;
}

.btn-outline:hover {
   border-color: #FACC0A;
}

// NAVBAR
.navbar-inverse {
  background-color: #625F56;
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
}

.navbar-nav > li > a {
  font-weight: 400;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5em;
}

h2, p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: -.5rem;
  padding:0;
}

.panel {
  background: #fff;
  box-shadow: 0 0 0.3rem 0 rgba(0,0,0,.15);
  margin-bottom: 4rem;
  transition: all 0.3s ease;
}

.panel:hover {
  box-shadow: 0 0 2.5rem 0 rgba(0,0,0,.25);
  margin: -.5rem -.5rem 4.5rem -.5rem ;
}

.panel-body{
  padding: 2rem;
}

.panel-body-image{
  padding: 0;
}

.panel-header {
  color:rgba(255,255,255,.7);
  background: #009688;
  transition: all 0.3s ease;
}

.panel-heading {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.4rem;
  padding: 1.5rem 0 0 2rem;
  overflow: hidden;
}

.toggle-panel-tools {
  color: rgba(255,255,255,.7);
  background: #00796b;
  padding: 1.5rem;
  margin-top: -1.5rem;
  transition: all 0.3s ease;
}

.toggle-panel-tools:hover {
  color: rgba(255,255,255,1);
}

.fa {
  transition: all 0.3s ease;
}
.fa-rotate-45 {
  transform: rotate(45deg);
}

.panel-tools {
  color: rgba(255,255,255,.7);
  background: #00796b;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  list-style: none;
  margin:0;
}

.panel-tools li {
  display: inline-block;
  margin-right: 1.5rem;
}

.panel-tools a {
  color: rgba(255,255,255,.7);
  text-decoration: none;
  transition: all 0.3s ease;
}

.panel-tools a:hover {
  color: rgba(255,255,255,1);
}

.panel-footer {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgba(0,0,0,.54);
  border-top: 1px solid rgba(0,0,0,.12);
  padding: 1.5rem 2rem;
}

.panel-danger .panel-heading {
  background: #E91E63;
}

.panel-heading > a {
  color: #fff;
  text-decoration:none;
}

.panel-danger .toggle-panel-tools, .panel-danger .panel-tools {
  background: #C2185B;
}

.panel-info .panel-heading {
  background: #3F51B5;
}

.panel-info .toggle-panel-tools, .panel-info .panel-tools {
  background: #303F9F;
}


