// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Ipsum Tags
.item{color:#48453d; overflow:hidden;}
.block-title{color: #48453d; margin-bottom:0px; font-size:18px; margin-top: 0px; font-weight:700; text-transform:uppercase;}
.item-content-block{padding:0 10px 10px 10px; background-color:#FFF; display:block;}
.tags a{background-color:#756f5d; padding:10px; color:#fff; display:inline-block; font-size:11px; text-transform:uppercase; line-height:11px; border-radius:2px; margin-bottom:5px; margin-right:2px; text-decoration:none;}
.tags a:hover{background-color:#a38018;}

.vresize {
  resize: vertical;
}

.show-nav{
  padding-top: 25px;
}

.custom-top{
  margin: 15px 0 15px 0;
}



// SLIDER

.letter-slider {
  border-bottom: 4px solid #000;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.15);
  padding-bottom: 0.25em;
  margin: 1em auto;
  position: relative;
  width: 20em;
}
.letter-slider::after{
  content: '';
  display: table; width: 100%; clear: both;
}
.letter-slider input[type="radio"] {
  display: none;
}
.letter-slider label {
  color: #f39c12;
  float: left;
  width: 16.6666666667%;
  text-align: center;
  cursor: pointer;
  transition: color .5s;
}
.letter-slider label:hover {
  text-decoration: underline;
}
.letter-slider input:checked + label {
  color: #c0392b;
}
.letter-slider label:last-of-type::after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 0.6em solid transparent;
  border-top-width: 0;
  border-bottom-color: #1CA2FF;
  position: absolute;
  bottom: -5px;
  left: 0;
  margin-left: -0.6em;
  transition: left 0.5s;
}
.letter-slider input:checked:nth-of-type(1) ~ label:last-of-type::after {
  left: 8.333333333333332%;
}
.letter-slider input:checked:nth-of-type(2) ~ label:last-of-type::after {
  left: 25%;
}
.letter-slider input:checked:nth-of-type(3) ~ label:last-of-type::after {
  left: 41.66666666666667%;
}
.letter-slider input:checked:nth-of-type(4) ~ label:last-of-type::after {
  left: 58.333333333333336%;
}
.letter-slider input:checked:nth-of-type(5) ~ label:last-of-type::after {
  left: 75%;
}
.letter-slider input:checked:nth-of-type(6) ~ label:last-of-type::after {
  left: 91.66666666666666%;
}

#hiddenp {
  display:none;
}

.theme-banner{
  background: #e74c3c;
  min-height: 333px;
  margin-bottom: 50px;
}
